body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: #212121;
  color: white;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}
.nav-items > ul > li > a {
  color: white;
}
.logo {
  width: 5rem;
}
.login-btn {
  background-color: white;
  color: #212121;
}
.search-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
}
.search-container > input {
  padding: 0.3rem 1rem 0.3rem 0.3rem;
}
.card {
  width: 14rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1.4rem;
}
.card > img {
  width: 100%;
}
.card > h3 {
  font-size: 1rem;
}
.card > h4 {
  font-size: 0.9rem;
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
.restaurant-list > a {
  color: #212121;
}

/* SHIMMER CARD CSS */
.container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  background: #ddd;
  width: 16rem;
  position: relative;
  padding: 1rem;
  margin: 1.4rem;
  box-sizing: border-box;
  border-radius: 10px;
}

.line {
  width: 100%;
  height: 10px;
  background: #bbb;
  margin: 20px 0;
  border-radius: 5px;
}

.img-block {
  width: 100%;
  height: 8rem;
  background: #bbb;
  margin: 20px 0 25px 0;
  border-radius: 5px;
}
.shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;

  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 80%
  );

  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(200%);
  }
}

.menu {
  display: flex;
}
